* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.transform{
    transform:  translate(-50%, -50%);
    width: 50%;
    max-width: 500px;
    height: 500px;
    border: 3px solid #ccc;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    top: 50%;
}