* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
}

aside{
    width: 300px;
    /* order: 2; */
    padding: 90px 20px;
    background: #ccc;
}

article{
    width: 800px;
    /* order: 1; */
    padding: 30px;
    background: gray;
}